* {
    margin: 0;
    padding: 0;
    font-family: 'GowunDodum-Regular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../img/background.png);
}

container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-background {
    display: grid;
    grid-template-columns: 300px 1000px 100px;
    height: 880px;
    margin: 30px;
}

.side-bar , .content{
    border: 2px solid rgb(18, 18, 18);
    border-radius: 15px;
    background-color: #65a7bd;
}

.side-bar {
    border-right: 0;
}

.content {
    border-left: 0;
}

.back-side-bar {
    background-color: #eeeeee;
    width: 270px;
    height: 820px;
    border-radius: 15px;
    margin-left: auto;
    margin-top: 25px;
}

.main-content {
    background-color: #eeeeee;
    width: 970px;
    height: 820px;
    border-radius: 15px;
    margin-right: auto;
    margin-top: 25px;
}

.main-side-bar {
    padding-top: 150px;
}

.emotion {
    background-color: lightgray;
    width: 250px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: center;
    margin: auto;
    padding-left: 5px;
    padding-top: 6px;
}

.emotion_comment {
    color: #5ccfe2;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 30px;
}

.profile {
    width: 250px;
    height: 300px;
    margin: auto;
    padding-top: 10px;
}

.comment {
    font-size: 1.2rem;
    padding-left: 25px;
}

.logout {
    width: 250px;
    height: 30px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 800;

}
.main-title {
    font-size: 3rem;
    padding-top: 45px;
    color:   #1f455a;
    font-weight: 700;
}

.menu-bar {
    margin-top: 70px;
}

.menu-bar > div {
    width: 85px;
    background-color: #65a7bd;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;

}
.home-tab , .todo-tab, .diary-tab, .visit-tab, .credit-tab {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

.credit:hover , .home:hover ,.todo:hover, .diary:hover ,.visit:hover {
    background-color: #eeeeee;
}

.home-tab:hover, .todo-tab:hover ,.diary-tab:hover, .visit-tab:hover, .credit-tab:hover {
    color:   #1f455a;
}

.error >p {
    font-size: 3rem;
    font-weight: 600;
}

.error {
    margin-top: 300px;
}