.to_body {
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.todo-head {
    background-color: #65a7bd;
    color: #eeeeee;
    border-radius: 10px 10px 0 0;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 0 20px;
}

.post-btn {
    height: 35px;
    width: 150px;
    margin: 10px 20px 0 0 ;
    background-color: #65a7bd;
    color: #eeeeee;
    border-radius: 10px 10px 0 0;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.2rem;;
    outline: none;
    border: none;
}

.insert-btn {
    display: flex;
    justify-content: space-between;
}

.todo-deadline {
    height: 150px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 6fr 1fr;
    border: 5px solid #65a7bd;
    border-radius: 0 10px 10px 10px;
    background-image: url(/img/list-deadline.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 20px;
}

.todo-deadline>button {
    align-items: center;
}

.to_main {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 500px;
}

.to_btn {
    width: 40px;
    height: 40px;
}
.to_checkbox{
    display: grid;
    width: 780px;
}

/* .to_box {
    background-color: #4a62694f;
    width: 370px;
    height: 120px;
    margin: 10px;
    padding: 10px;
} */


.to_pagination {
    display: inline-flex;
    align-items: center;
    justify-content:center;
    margin: auto 20px;
}


.to_pagination>a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
}

.to_footer>img {
    border: 0;
}

.to_list {
    /* 2행 4열 배열ok */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 900px;
}

.to_post {
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fffbbdd8;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    /* display: grid;
    grid-template-rows: 1.5fr 1fr 6fr; */
}

.to_title {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 5px;
}

.to_date {
    font-size: 1rem;
    text-align: right;
    font-weight: 700;
    margin-bottom: 5px;
}

.to_post>.to_title, .list_box{
    width: 100%;
    display: block;
    /* 말줄임↓ */
    overflow: hidden;
    display: '-webkit-box';
    line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.list_box {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 10px;
    align-items: center;
}

input:checked+label{
    text-decoration-line: line-through;
}

.to_post>.check-list {
    margin-right: 8px;
    /* 체크박스와 텍스트 간격 설정 */
}

.to_post>p {
    line-clamp: 100px;
}

.home, .diary, .visit-btn, .credit {
    width: 85px;
    background-color: #65a7bd;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;
}

.home-tab , .diary-tab, .visit-tab, .credit-tab {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

div > .todo {
    width: 85px;
    background-color: #eeeeee;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;
}

.todo-tab {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}
