* {
    margin: 0;
    padding: 0;
    font-family: 'GowunDodum-Regular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../img/background.png);
}

container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-background {
    display: grid;
    grid-template-columns: 300px 1000px 100px;
    height: 880px;
    margin: 30px;
}

.side-bar , .content{
    border: 2px solid rgb(18, 18, 18);
    border-radius: 15px;
    background-color: #65a7bd;
}

.side-bar {
    border-right: 0;
}

.logo {
    padding-left: 65px;
    padding-top: 15px;
}

.content {
    border-left: 0;
}

.back-side-bar {
    background-color: #eeeeee;
    width: 270px;
    height: 820px;
    border-radius: 15px;
    margin-left: auto;
    margin-top: 25px;
}

.main-content {
    background-color: #eeeeee;
    width: 970px;
    height: 820px;
    border-radius: 15px;
    margin-right: auto;
    margin-top: 25px;
}

.emotion {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    color: #5ccfe2;
    font-size: 1.4rem;
    margin-left: 15px;
    text-indent: 30px;
    line-height: 40px;
    font-weight: 900;
}

/* .emotion_comment {
    color: #5ccfe2;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 30px;
} */

.profile {
    width: 250px;
    height: 250px;
    margin-left: 15px;
    padding-top: 10px;
}

.comment {
    font-size: 1.15rem;
    margin-left: 25px;
    line-height: 35px;
}

.logout {
    width: 180px;
    
    height: 40px;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 45px;
}

.main-title {
    font-size: 3rem;
    padding-top: 45px;
    color:   #1f455a;
    font-weight: 700;
}

.error_title {
    font-size: 1.5rem;
    color: #5ccfe2;
    font-weight: 600;
    padding-left: 20px;
}

.menu-bar {
    margin-top: 70px;
}

.menu-bar > div {
    width: 85px;
    background-color: #65a7bd;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;

}
.home-tab , .todo-tab, .history-tab, .visit-tab, .credit-tab {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

.todo , .history, .visit-btn, .credit {
    width: 85px;
    background-color: #65a7bd;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;
}

.todo-tab , .history-tab, .visit-tab, .credit-tab {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

.error >p {
    font-size: 3rem;
    font-weight: 600;
}

.error {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    gap: 5rem;
}

a,
a:visited {
  text-decoration: none;
}

.btn {
    display: inline-block;
    background: #D9D9D9;
    border: none;
    border-radius: 15px;
    width: 240px;
    height: 50px;
    font-size: x-large;
    font-weight: 900;
    cursor: pointer;
}