.visit-content{
    background-color: #eeeeee;
    width: 970px;
    height: 820px;
    border-radius: 15px;
    margin-right: auto;
    margin-top: 25px;
}

.visit-content>h3{
    font-size: 1.5rem;
    margin: -12px 70px;

}

.visit_comment{
    width: 900px;
    height: 100px;
    position: relative;
    margin: 30px 30px 80px 30px;
    text-align: center;
}

.visit_comment>textarea{
    resize: none;
    width: 850px;
    height: 150px;
    padding: 20px;
    font-size: 1.2rem;
    outline: none;
}

textarea{
    border-radius: 10px;
    border-style: 10px double;
}

.post-btn{
    border-radius: 5px;
    background-color: #6cb1c9;
    color: #eeeeee;
    width: 80px;
    height: 2rem;
    text-align: center;
    z-index: 1;    /* 볼드보다 앞에 표시하기 위한 요소 */
    position: absolute;
    margin-left: -100px;
    margin-top: 100px;
}

.visit_post{
    width: 840px;
    height: 400px;
    background-color: #a5dbecb4;
    border-radius: 20px;
    margin: auto 60px;
    padding: 20px 30px;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px;
    flex-flow: wrap;
    gap: 10px;
    line-height: 20px;
}
.visit_box{
    background-color: rgba(240, 255, 255, 0.618);
    width: 740px;
    height: 70px;
    margin: 10px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr 3fr 1fr;
    border-radius: 10px;
}

.writer_with_date{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.writer {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.delete-btn{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 40px;
}

.delete-btn>img{
width: 50px;
}

.visit_footer {
    display: inline-flex;
    align-items: center;
    justify-content:center;
    margin: 20px 0 0 50px;
    line-height: 36px;
    width: 860px;
}

#g-icon{
    width: 100px;
    height: 60px;
    margin: -15px 2px;
}

.visit_icon{
    width: 25px;
    height: auto;
    margin-left: 20px;
}

.p_btn {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    line-height: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.home, .diary, .todo, .credit {
    width: 85px;
    background-color: #65a7bd;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;
}

.home-tab , .diary-tab, .todo-tab, .credit-tab {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

div > .visit-btn {
    width: 85px;
    background-color: #EEEEEE;
    padding: 12px 0px 12px 0px;
    margin-left: -30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-left: none;
}

.visit-tab {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    width: 85px;
}

.img_btn{
    margin-top: 5px;
}